@tailwind base;
@tailwind components;
@tailwind utilities;


.input{ @apply border rounded-lg px-3 py-2 w-full; }
.btn{ @apply inline-flex items-center gap-2 px-4 py-2 rounded-lg border; }
.btn-primary{ @apply bg-black text-white; }
.card{ @apply border rounded-2xl p-6 shadow-sm bg-white; }
